nav h6 {
    padding: .375rem 2rem;
    margin: 0;
    position: absolute;
    right: 0;
}

.container-md {
    max-width: 600px;
    padding-top: 30px;
}

.start-body {
    display: block;
    text-align: center;
}

.quiz-body {
    display: none;
}

.end-body {
    display: none;
}